<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acticle</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>内容</th>
            <th>标签ID</th>
            <th>创建时间</th>
            <th>创建人ID</th>
        </tr>

        #for(item:list)
            <tr>
                <td>#(item.id)</td>
                <td>#(item.title)</td>
                <td>#(item.content)</td>
                <td>#(item.tag_id)</td>
                <td>#(item.create_time)</td>
                <td>#(item.create_by)</td>
            </tr>
        #end
    </table>
</body>
</html>