package #(package);

import com.jfinal.aop.Before;
import com.jfinal.core.Controller;
import com.demo.common.model.#(className);

/**
 * #(className) 管理	
 * 描述：
 * 
 */
@RequestMapping("/contract/#(classNameSmall)")
public class #(className)Controller extends BaseController {


		@JbootrpcService
		private #(className)Service #(classNameSmall)Service;

		public void index() {
			render("main.html");
		}

	/**
	* 表格数据
	*/
	public void tableData() {
		Page<#(className)> result = #(classNameSmall)Service.findPageList(TokenVo.builder()
			.pageNo(getParaToInt("pageNo", 1))
			.pageSize(getParaToInt("pageSize", 30))
			.status(0)
			.coinType(getParaToInt("coinType"))
			.keyword(getPara("keyword")).build());
			if(result.getList() != null && result.getList().size()>0){
			result.getList().forEach(item->{
			item.setPreUrl(prefixURL);
			});
			}
			renderJson(new DataTable<#(className)>(result));
		}

		public void edit() {
			#(className) obj =new #(className)();
			String id = getPara("id");
			if(StringUtils.isNotBlank(id)){
				obj = #(classNameSmall)Service.findById(id);
			}
			setAttr("#(classNameSmall)",obj);
			render("update.html");
		}

		public void del() {
			Long id = getPara("id");
			#(className) obj = new #(className)();
			obj.setId(id);
			obj.setStatus(1);
			if(#(classNameSmall)Service.update(obj)){
			renderJson(RestResult.buildSuccess("修改成功"));
			return;
			}
			renderJson(RestResult.buildError("修改失败"));
		}


		public void update(){
			#(className) paramet =getBean(CurrencyToken.class,"token");
			//判断是否已存在相同的币种
			#(className) vo = new #(className)();
			#(className) one = #(classNameSmall)Service.findOne(vo);
			System.out.println("one==="+one);
			if(one != null && !one.getId().equals(paramet.getId())){
			renderJson(RestResult.buildError("币种已存在"));
			return;
			}
			//保存时设置创建时间
			if(paramet.getCreateTime() == null){
				paramet.setCreateTime(new Date());
			}

			if(#(classNameSmall)Service.saveOrUpdate(token)){
				renderJson(RestResult.buildSuccess("修改成功"));
				return;
			}
			renderJson(RestResult.buildError("修改失败"));

		}
 }